{% extends "blog/base.html" %}
{% block content %}


<br>
	<h1 align="left">For readers, writers, and the insatiably curious. Like you (ᵔᴥᵔ)</h1>
	<br>
	<p style="color:DarkSlateGrey
;font-size:17px;" align="left"class="mr-2">Welcome folks! This is a simple bogging web application made using Python Web-Dev framework called "Django".This application will let multiple users create and login to their respective accounts and create blogs that will be visible on the blog home page.<br>It also features a profile section where you can update your profile picture and change your details if needed. Hope you'll enjoy using it.</p>
<i class='text-muted' class="bx bx-italic">Thank You</i>

{% endblock content %}

